.div-main-info-adicionais-home-page {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    background: rgb(255,222,89);
    background: linear-gradient(90deg, rgba(255,222,89,1) 0%, rgba(255,145,77,1) 100%);;
}